$h1-size: 36px;
$h2-size: 24px;
$h3-size: 18px;
$grey: #212121;
$lightgrey: #616161;

%h1 {
  color: $grey;
  font-size: $h1-size;
}

%h2 {
  color: $grey;
  font-size: $h2-size;
}

%h3 {
  color: $lightgrey;
  font-size: $h3-size;
}

%copy {
  color: $grey;
  font-size: $h3-size * 0.5;
}